@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

@section Hero {
    <main class="hero-wrap">
        <div class="hero-card">
            <nav class="hero-nav d-flex align-items-center justify-content-between">
                <ul class="nav-links list-unstyled d-flex mb-0">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
            </nav>

            <div class="hero-body d-flex align-items-center">
                <div class="hero-left">
                    <h1 class="hero-title">New Ingredients And Recipes</h1>
                    <p class="hero-desc">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing
                        layouts and visual mockups.
                    </p>
                </div>
                
             
                <div class="hero-right">
                    <div class="circle-image">
                        <img src="~/admin/img/panelphoto.jpg" alt="Ingredients" />
                    </div>
                </div>
            </div>
            <div class="hero-actions mt-4">
                <a href="/AdminPanel/Ingredient/Index" class="btn btn-peach mr-3">
                    Ingredient
                </a>

                <a href="/AdminPanel/Recipe/Index" class="btn btn-peach">
                    Recipe
                </a>
            </div>
        </div>
    </main>
}
