/* Recipe card şəkillərinin ölçüsünü böyüt */
.single-best-receipe-area {
    position: relative;
    overflow: hidden;
}

    .single-best-receipe-area > img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        display: block;
    }

    /* Hover card-dakı şəkil */
    .single-best-receipe-area .hover-img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 8px;
    }
