@using RecipeProject.Models
@model Recipe

@{
    ViewData["Title"] = "Delete Recipe";
}

<h1 style="color:black">Delete Recipe</h1>
<hr />

<h3 style="color:black">Are you sure you want to delete this recipe?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3" style="color:black">Name</dt>
        <dd class="col-sm-9" style="color:black">@Model.Name</dd>

        <dt class="col-sm-3" style="color:black">Diet Type</dt>
        <dd class="col-sm-9" style="color:black">@Model.DietType</dd>

        <dt class="col-sm-3" style="color:black">Cuisine</dt>
        <dd class="col-sm-9" style="color:black">@Model.Cuisine</dd>
    </dl>
</div>

<form action="/AdminPanel/Recipe/Delete/@Model.Id" method="post">
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/AdminPanel/Recipe/Index" class="btn btn-light">Cancel</a>
</form>
