@using RecipeProject.Areas.AdminPanel.ViewModels.Ingredient
@model CreateIngredientVM

@{
    ViewData["Title"] = "Create Ingredient";
}

<h1 style="color:black">Create Ingredient</h1>

<h4 style="color:black">Ingredient</h4>
<hr />
<form action="/AdminPanel/Ingredient/Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group" style="color:black">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Create düyməsi - formu göndərir -->
    <button type="submit" class="btn btn-peach" style="color:black">
        Create
    </button>
</form>

<!-- Back to list keçidi - formu göndərməyəcək, sadəcə keçid -->
<a href="/AdminPanel/Ingredient/Index" class="btn btn-light">
    Back to list
</a>