@using RecipeProject.Areas.AdminPanel.ViewModels.Ingredient
@model DetailIngredientVM

@{
    ViewData["Title"] = "Ingredient Detail";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ingredient Detail</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>@Model.Name</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/AdminPanel/Ingredient/Index" class="btn btn-light">Back</a>
            </div>
        </div>
    </div>
</div>
